// Colors
// -------------------------------
$colors: (
  primary: orange,
  secondary: #33cd5f,
  danger: #f53d3d,
  light: #f4f4f4,
  dark: #222
);

:global {
  @import '../lib/quick-layout/scss/common.scss';
  @import '../lib/quick-layout/scss/grid.scss';
  @import '../lib/quick-layout/scss/row.scss';
}
